{% extends 'base.html' %}

{% block content %}

<h1>DC Paint Drying</h1>
<a href="..">Main Page</a>

<p style="text-align:center; margin: 100px; font-size: 70px">Admin Panel</p>
<form method="get" class="vertical-flex">
	<div class="horizontal-flex">
		<div class="admin-button">
			<input type="submit" value="suggest" name="suggest-services" id="suggest-services">
			<label for="suggest-services" class="vertical-flex" style="height: 100%;" id="suggest-services-label">
				Suggest new services
			</label>

		</div>
		<div class="admin-button">
			<input type="submit" value="send" name="send-invoice" id="send-invoice">
			<label for="send-invoice" class="vertical-flex" style="height: 100%;" id="send-invoice-label">
				Send invoice
			</label>
		</div>
	</div>
	<div class="horizontal-flex">
		<div class="admin-button">
			<input type="submit" value="generate" name="generate-report" id="generate-report">
			<label for="generate-report" class="vertical-flex" style="height: 100%;" id="generate-report-label">
				Generate report
			</label>
		</div>
		<a href="{{ url_for('gdrive_files') }}" target="_self" class="admin-button" id="list_gdrive_files">
			<div class="vertical-flex">Show Google Drive</div>
		</a>
	</div>
	<div id="notification">
		{{ notification }}
	</div>
</form>


{% endblock %}