{% extends 'base.html' %}

{% block content %}

<h1>DC Paint Drying</h1>

<p>Register to our system or order subscription</p>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">Login</a>
{% endif %}

{% if current_user.is_authenticated %}
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}

{% if not current_user.is_authenticated %}
<a href="{{ url_for('register') }}">Register</a>
{% endif %}

{% if current_user.is_authenticated %}
<a href="{{ url_for('order_subscription') }}">Order subscription</a>
{% endif %}

{% if current_user.is_authenticated %}
<a href="{{ url_for('edit_profile') }}">Edit User Data</a>
{% endif %}

{% if current_user.is_authenticated %}
<a href="{{ url_for('edit_subscription') }}">Edit User Subscription</a>
{% endif %}

{% endblock %}