{% extends 'base.html' %}

{% block content %}

<div class="container w-50">
<div class="d-flex align-items-center justify-content-center vh-100">
	<div class="text-center">
		<h1 class="display-1 fw-bold">401</h1>
		<p class="fs-3">
			<span class="text-danger">Opps!</span>
			Nieautoryzowany.
		</p>
		<p class="lead">
			Musisz być zalogowany aby wejść na tę stronę. Zaloguj się i spróbuj ponownie.
		</p>
		<a class="btn btn-primary" href="{{ url_for('index') }}">Main Page</a>
	</div>
</div>

</div>

{% endblock %}